@import "tailwindcss";

@theme {
  --color-primary: #366347;
  --color-submit: #38E07A;
  --color-secondary: #38E07A;
  --color-accent: #96C4A8;
  --color-dark: #1C3024;
  --color-darker: #264533;
  --color-darkest: #122117;
  --color-foreground: #ffffff;
  --font-family-sans: 'Spline Sans', Arial, Helvetica, sans-serif;
}

:root{
  --color-darkest: #122117;
  --color-background: #122117;
  --color-foreground: #FFFFFF;
  --color-primary: #366347;
  --color-secondary: #38E07A;
  --color-accent: #96C4A8;
  --color-dark: #1C3024;
  --color-darker: #264533;
  --font-sans: 'Spline Sans', Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--color-background) !important;
  color: var(--color-foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-header {
  @apply bg-darkest border-b border-accent;
}

.header-container {
  @apply mx-auto px-10 py-2 flex items-center justify-between;
}

.header-logo {
  @apply text-2xl font-semibold text-foreground flex items-center;
}

.header-image {
  @apply text-white mr-2 mb-1;
}

.header-nav {
  @apply flex space-x-4;
}

.container {
  @apply flex h-screen justify-center items-center min-w-full;
}

.title {
  @apply text-3xl font-bold pt-2 pb-7 font-bold;
}

.input-default {
  @apply bg-dark border-1 border-primary rounded-xl w-full p-4 mb-5 max-w-md;
}

.btn-submit {
  @apply bg-submit rounded-full w-full text-darkest text-sm font-semibold py-2 mt-10 hover:bg-submit/80 transition-colors;
}

.form-container {
  @apply flex flex-col w-md items-center;
}

.register-cta {
  @apply text-sm mt-4 text-accent font-normal;
}

.register-cta a {
  @apply font-semibold;
}

.logout-cta {
  @apply text-foreground bg-darker rounded-full font-bold px-5 py-2 hover:bg-primary transition-colors select-none;
}

